{% block login %}
{% if g.user %}
  Hi {{ g.user.email }}!
{% else %}
<form action="/auth/login" method="POST" class="form-inline"> 
    <div class="form-group">
      
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control input_user" id="email" placeholder="Email" name="email">
      </div>
    
      <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" name="rememberme" id="rememberme">&nbsp;Remember Me
        </div>
      </div>
    </div>
    {% if loginFailed %}
        <div class="alert-danger" role="alert">Login Failed!</div>
    {% endif %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        
          <input type="submit" class="btn btn-dark" name="submit" value="Login">
        
      </div>
    </div>
    
  </form>
{% endif %}
{% endblock %} 

