<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
        -->
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
        <script lang="javascript">        
            $(document).ready(function() {
                const roundTo = roundTo => x => Math.round(x / roundTo) * roundTo;    
                const roundDownTo = roundTo => x => Math.floor(x / roundTo) * roundTo;
                const roundUpTo = roundTo => x => Math.ceil(x / roundTo) * roundTo;

                const roundTo5Minutes = roundTo(1000 * 60 * 5);
                const roundDownTo5Minutes = roundDownTo(1000 * 60 * 5);
                const roundUpTo5Minutes = roundUpTo(1000 * 60 * 5);
                $('#timecode').select2({
                    ajax: {
                        url: '/time/activities',
                        dataType: 'json'
                    },
                    tags: true
                });
                function prettyDate2(time) {
                    var date = new Date(parseInt(time));
                    return date.toLocaleTimeString(navigator.language, {
                        hour: '2-digit',
                        minute:'2-digit'
                    });
                }
                var current_time = prettyDate2(roundTo5Minutes(Date.now()));
                $('#time_start').timepicker({
                        timeFormat: 'HH:mm',
                        interval: 5,
                        minTime: '00:00',
                        defaultTime: current_time,
                        dynamic: false,
                        dropdown: true,
                        scrollbar: true,
                        change: function(time) {
                            // the input field
                            var from_time = $("input[name='time_start']").val();
                            console.log("From time:"+from_time);
                            $('#time_end').timepicker('option', 'minTime', from_time);
                            if ($('#time_end').val() && $('#time_end').val() < from_time) {
                                $('#time_end').timepicker('setTime', from_time);
                        }
                    }
                });
                $('#time_end').timepicker({
                    timeFormat: 'HH:mm',
                    interval: 5,
                    defaultTime: current_time,
                    dynamic: false,
                    dropdown: true,
                    scrollbar: true
                });


                

                $('#commuteornot').on('change',
                    function(){
                        var dataString = $('#commuteornotbutton').serialize();
                        var testvalue = $('#commuteornotbutton').val();
                        if ( testvalue == 'commuted'){
                            $('#commuteornotbutton').val("workedathome");
                        } else {
                            $('#commuteornotbutton').val("commuted");
                        }
                        console.log("commuteornotclicked");
                        console.log(testvalue)
                        $.ajax({
                            type: 'POST',
                            url: "/time/register/commuteornot",
                            contentType: 'application/json;charset=UTF-8',
                            data: dataString,
                            success: function(response){
                                console.log(response);
                            },
                            error: function(error){
                                console.log(error); 
                            }
                        })
                    });
            });
                
                
    
        </script>    
        
    </head>
<body>
   
    
    <input id="timepicker" class="timepicker text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown">
    <input class="timepicker1 text-center" jt-timepicker="" time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown">
    
    <div class="col-sm-5">
        <input id="timeWithDuration" type="text" class="form-control ui-timepicker-input" name="from_time" placeholder="What time?" autocomplete="off">
    </div>
    <div class="col-sm-5">
        <input id="duration" type="text" class="form-control ui-timepicker-input" placeholder="Duration" autocomplete="off">
    </div>
</body>

</html>
