{% extends "header.html" %}
{% block profile %}
<div class="container">
    <br/><br/><br/>
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Change password</h5>
            <form action="/profile/changePassword" method="POST"> 
                <div class="form-group">
                    <label for="current_password">Current Password</label>
                    <input type="password" class="form-control" id="current_password" placeholder="Current Password" name="current_password">
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="new_password_1">New password</label>
                        <input type="password" class="form-control" id="new_password_1" placeholder="New Password" name="new_password_1">
                    </div>
                    <div class="col">
                        <label for="new_password_2">Repeat new password</label>
                        <input type="password" class="form-control" id="new_password_2" placeholder="New Password" name="new_password_2">
                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">

                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success float-right" >Change password</button>    
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 

