{% extends "header.html" %}
{% block profile %}
<div class="container">
    <br/><br/><br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create Profile</h5>
            <form action="/profile/create" method="POST"> 
                <div class="col">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="profileUsername">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="text" class="form-control" id="email" placeholder="Email" name="profileEmail">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="profilePassword">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success float-right" >Create Profile</button>    
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %} 

