{% extends "header.html" %}
{% block profile %}
<div class="container-sm align-items-center">
    <div class="card">
        <div class="card-body">
            <fieldset class="card-title">
                <legend>Current week: {{ date_info.weeknumber }} {{ date_info.year }}</legend>
            
                <form  method="POST" action="/time/register">
                    <div class="form-row">
                        <div class="form-group col-xs-4 col-md-4">
                            <label for="timecode" class="form-label">Activity</label>
                            <div>
                                <input name="timecode" id="timecode">
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <label for="start" class="form-label">Start Time</label>
                            <div>
                                <input name="start" size="5">
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <label for="end" class="form-label">End time</label>
                            <div>
                                <input name="end" size="5">
                            </div>
                        </div>
                    </div>
                    
                </form>

            
                <input type="submit" class="btn btn-primary" value="Submit time for the day">
            </fieldset>
        </div>
    </div>
</div>
{% endblock %} 


  