{% extends "header.html" %}
{% block profile %}
<div class="container-sm align-items-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Current week: {{ date_info.weeknumber }}</h5>
        <div class="d-flex justify-content-center form_container">
            <form  method="POST" action="/time/register">
            </form>

        </p>
        <a href="#" class="btn btn-primary">Go back to the frontpage.</a>
        </div>
    </div>
</div>
{% endblock %} 


  