{% extends "header.html" %}
{% block profile %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script lang="javascript">
    $(document).ready(function() {
        $('.timecode').select2();
    });
</script>

<div class="container-sm align-items-center">
    <div class="card">
        <div class="card-body">
            <fieldset class="card-title">
                <legend>{{ date_info.today }}</legend>
            
                <form  method="POST" action="/time/register">
                    <div class="form-row">
                        <div class="form-group col-xs-4 col-md-4">
                            <label for="timecode" class="form-label">Activity</label>
                            <div>
                                <select class="timecode" name="timecode">
                                    <option value="activity1">Activity 1</option>
                                    <option value="activity2">Activity 2</option>
                                    <option value="activity3">Activity 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <label for="start" class="form-label">Start Time</label>
                            <div>
                                <input name="start" size="5">
                            </div>
                        </div>
                        <div class="form-group col-xs-4 col-md-4">
                            <label for="end" class="form-label">End time</label>
                            <div>
                                <input name="end" size="5">
                            </div>
                        </div>
                    </div>
                    
                </form>

            
                <input type="submit" class="btn btn-primary" value="Submit time for the day">
            </fieldset>
        </div>
    </div>
</div>
{% endblock %} 


  