{% extends "header.html" %}
{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="form-group alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<br/>
<div class="container align-items-center justify-content-center">
    <div class="card mb-3 justify-content-center" style="max-width: 800px;">
        <div class="row g-0 justify-content-center">
        <div class="col-md-4">
            <img src="/images/frontpage_welcome.jpg" class="brand_logo" alt="Logo" height="159" width="239">
        </div>
        <div class="col-md-8 justify-content-center">
            <div class="card-body justify-content-center">
            <h5 class="card-title">Welcome to doTime! It will be awesome!!</h5>
            <p class="card-text">This is a project under construction. And we are working in small increments.<br/>So far we have the following ready:
                <ul>
                    <li>User registration</li>
                    <li>Login</li>
                    <li>Work week hours settings</li>
                </ul>
                The following is work in progress:
                <ul>
                    <li>Time regisration form</li>
                    <li>Nice automatic update behind the scenes upon time registration</li>
                    <li>Week by week total work time</li>
                    <li>Month total time</li>
                    <li>Overtime on weekly and monthly basis</li>
                    <li>Putting hours in the bank</li>
                </ul>
                We are getting there slowly, but surely.
            </p>
            <p class="card-text"><small class="text-muted">Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/s/photos/team?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></small></p>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %} 

