<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">doTime.me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if g.user %}
            <li class="nav-item active">
              <a class="nav-link" href="/auth/logout">Log Out </a>
            </li>
            {% endif %}
            {% if not g.user %}
            <li class="nav-item active">
              <a class="nav-link" href="/profile/create">Create Profile</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if g.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="usernav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-label="Toggle Navigation">
            <span class="badge bg-info text-dark navbar-text"><i class="bi-person"></i>{{ g.user.email }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="usernav">
            <a class="dropdown-item" href="{{ url_for('auth_blueprint.logout') }}">Log ud</a>
            <a class="dropdown-item" href="{{ url_for('profile_blueprint.profile') }}">Profile</a>
            <a class="dropdown-item" href="{{ url_for('profile_blueprint.profile_settings') }}">Settings</a>
            <a class="dropdown-item" href="/profile/changePassword">Change Password</a>
          </div>
        </li>
        {% else %}
          {% include 'login.html' %}
        {% endif %}
      </ul>
    </div>

</nav>