{% set navigation_bar_all = [
  ('/', 'Home')
] -%}
{% set navigation_bar_loggedin = [
  ('/time/enter', 'Time Registration'),
  ('/auth/logout', 'Logout')
] -%}

{% set navigation_bar_not_loggedin = [
  ('/profile/create', 'Create Profile')
] -%}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/images/dotime_logo.png" width="80" height="80"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              {% for url, title in navigation_bar_all %}
              <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">{{ title }}</a>
              {% endfor %} 
            </li>
            {% if g.user %}
              {% for url, title in navigation_bar_loggedin %}
              <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">{{ title }}</a>
              {% endfor %} 
            {% endif %}
            {% if not g.user %}
              {% for url, title in navigation_bar_not_loggedin %}
              <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">{{ title }}</a>
              {% endfor %} 
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if g.user %}
        <h5>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="usernav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-label="Toggle Navigation">
            <span class="badge bg-info text-dark navbar-text"><i class="bi-person"></i>{{ g.user.email }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="usernav">
            <a class="dropdown-item" href="{{ url_for('auth_blueprint.logout') }}">Log out</a>
            <a class="dropdown-item" href="{{ url_for('profile_blueprint.profile') }}">Profile</a>
            <a class="dropdown-item" href="{{ url_for('profile_blueprint.profile_settings') }}">Settings</a>
            <a class="dropdown-item" href="/profile/changePassword">Change Password</a>
          </div>
        </li>
      </h5>
        {% else %}
          {% include 'login.html' %}
        {% endif %}
      </ul>
    </div>

</nav>