{% extends "header.html" %}
{% block profile %}
<div class="container">
    <br/><br/><br/>
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Profile Information</h5>
            <form action="/profile/settings" method="POST"> 
                <div class="form-group">
                    

                    <label for="workdayLengthHours">Workday length</label>
                    {% for i in range(1,8) %}
                    {% set istr = i | string() %}
                    {% set minutes_key = 'workdayLength'+istr %}
                    {% set minutes = workday_lengths[minutes_key] %}
                    
                    <input type="number" minlength="1" maxlength="2" size="2" class="form-control" id="workdayLength{{ i }}Hours" name="workdayLength{{ i }}Hours" value="{{ workday_lengths['workdayLength{{ i }}Hours'] }}">
                    <input type="number" minlength="1" maxlength="2" size="2" class="form-control" id="workdayLength{{ i }}Minutes" name="workdayLength{{ i }}Minutes" value="{{ minutes_key }}">
                    {% endfor %}
                </div>
                <div class="form-row">
                    <div class="col">

                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="form-group alert alert-danger" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class="col">
                        <button type="submit" class="btn btn-success float-right" >Update Settings</button>    
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 