{% extends "header.html" %}
{% block profile %}
<div class="container-sm align-items-center">
    <div class="card" style="width: 18rem;">
        <img src="/images/oops.jpg" class="card-img-top" alt="hello and Welcome">
        <div class="card-body">
        <h5 class="card-title">That didn't work out</h5>
        <p class="card-text">Sorry, we couldn't create your profile.</p>
        <a href="{{ url_for('profile_blueprint.create_profile') }}" class="btn btn-primary">Try again?</a>
        </div>
    </div>
</div>
{% endblock %} 


  